.user-info {
  @include flex-column;
  align-items: center;
  text-align: center;
  width: 20rem;
  border-radius: 1rem;
  background: white;
  padding: 1.5rem;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  @media screen and (max-width: $xs) {
    width: 100%;
  }
  &__pic {
    width: toRem(170);
    height: toRem(170);
    border-radius: 50%;
    font-size: 85px;
    text-transform: uppercase;
    @include flex-center;
    @media screen and (max-width: $xs) {
      width: toRem(140);
      height: toRem(140);
    }
  }
  &__list {
    margin-top: 1rem;
    @include flex-column;
    gap: 0.5rem;
    &_icon {
      margin-top: 0;
      align-items: start;
      gap: 1rem;
    }
  }
  &__links {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
  }
}

.profile {
  @include flex-start-stretch;
  gap: 1.5rem;
}

.current-tasks {
  width: 100%;
  height: 100%;
}
