.auth {
  margin-top: 1.5rem;
  &__title {
    font-size: 1.6rem;
    text-align: center;
  }
  &__subtitle {
    font-size: toRem(12);
    margin: 10px 1rem 0;
    text-align: center;
  }
  &__btn {
    width: 100%;
    color: white;
    background-color: rgb(97, 144, 232);
    margin-top: 0.5rem;
    font-weight: 300;
    border-radius: 0;
    padding: 0.4rem 1rem;
    height: auto;
    font-size: toRem(12);
  }
  &__input, &__input:hover, &__input:focus {
    border: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: toRem(5);
  }
  &__registration-link {
    color: #6190e8;
  }
  &__registration-text {
    font-size: 0.75rem;
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
  .ant-form-item-explain-error {
    font-size: toRem(12);
  }
}
