.projects-list {
  @include flex-column;
  gap: 1rem;
  margin-top: 1rem;
  &__title {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
  }
}

.projects-pagination {
  @include flex-center;
  margin-top: 2rem;
}