.auth-layout {
  @include flex-center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #a7bfe8, #6190e8);
  &__content {
    background: white;
    max-width: 31rem;
    width: 90%;
    padding: 0 7rem;
    max-height: 80vh;
    @include flex-column;
    justify-content: center;
    box-shadow: $boxShadow;
    overflow: auto;
    @media screen and (max-width: $sm) {
      padding: 0 17%;
    }
  }
}
