.project-item {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  &__header {
    @include flex-between-center;
  }
  &__description {
    margin-top: 1rem;
    color: $lightTextColor;
    font-size: toRem(14);
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: 1.5rem;
  }
  &__bottom {
    margin-top: 1rem;
    @include flex-between-end;
  }
}
